
$color: "#272cc2";
$backcolor: Teal;
$bgcolor: white;
$px: 5px;
.grid > div {
              background-color: $backcolor;
              display: grid;
              padding: $px;
              grid-column-gap: $px;
              grid-row-gap: $px;
              
          }
.grid-item > div {
              background-color: $bgcolor;
              font-size: 20px;
              padding: 15px;
              text-align: center;
          }
nav {
  ul {
    margin: $px;
    padding: 10px;
  }
  li { display: inline-block; }
  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
    margin: 3px;
  }
}
div, h4 {
   padding: 10px;}
   %message {
       font-size: 18px;
       font-style: italic;
       font-weight: bold;
       border: $px solid black;
       padding: 20px;
       margin: 20px;
   }

   .success {
       @extend %message;
       background-color: lightgreen;
   }

   .warning {
       @extend %message;
       background-color: orange;
   }

   .error {
       @extend %message;
       background-color: red;
   }
