
$color: "#272cc2";
$backcolor: Teal;
$bgcolor: white;
$px: 5px;

nav {
  ul {
    margin: $px;
    padding: 10px;
  }
  li { display: inline-block; }
  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
    margin: 3px;
  }
}
div, h4 {
   padding: 10px;}
   %message {
       font-size: 18px;
       font-weight: bold;
       border: 1px solid black;
       padding: 20px;
       margin: 20px;
   }

   .success {
       @extend %message;
       background-color: "#66ff66";
   }

   .warning {
       @extend %message;
       background-color: orange;
   }

   .error {
       @extend %message;
       background-color: "#ff5050";
   }
