@media (min-width: 500px) {
                h1::before {
                    content: "Hello, World!";
                }
                .Travelpages h3::before {
                  content: "Different Types of Travel";
                }
            }

            @media (max-width: 499px) {
                h1::before {
                    content: "Hello!";
                }
                .Travelpages h3::before {
                  content: "Travel Types";
                }
            }

.Travelpages {
  padding: 10px;
}
h1, h3 {
    padding: 10px;
    font-weight: bold;
}

table {   margin-left: 30px;
          padding: 10px;
          border: 5px solid black;
          border-collapse: collapse;
          text-align: center;
          width: 55%;
        }
        th{
          background-color: lightgray;
          padding: 18px;
          color: navy;
        }
        th , td { border: 1px solid black;
         font-family: Arial, calibri;
         font-size: 22px;
         text-align: center;
        }
