@media (min-width: 500px){
                h1::before {
                    content: "Multi-destination/Self planned Vacations";
                }
          }
@media (max-width: 499px) {
                h1::before {
                    content: "Multi-destination";
            }
            a[href^="index.html"] {
              text-align: center;
              font-style: italic;
              font-family: verdana;
              font-size-adjust: auto;
            }
